.benefits {
  @include tablet {
    margin-bottom: rem(80);
  }
  @include small-tablet {
    margin-bottom: rem(60);
  }
  // .benefits__container
  &__container {
  }
  // .benefits__heading
  &__heading {

  }
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(6);
    }
  }
  // .benefits__subtitle
  &__subtitle {
  }
  // .benefits__services
  &__services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-left: rem(1) solid var(--light-line-color);
    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // .benefits__name
  &__name {
    border-right: rem(1) solid var(--light-line-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: rem(160);
    padding: rem(30) 0;
    @include small-tablet {
      min-height: rem(140);
    }
    &:nth-child(1),
    &:nth-child(2) {
      @include small-tablet {
        border-bottom: rem(1) solid var(--light-line-color);
      }
    }
    &:first-child {
      //border-left: rem(1) solid var(--light-line-color);
    }
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  // .benefits__list
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  // .benefits__item
  &__item {
    display: flex;
    padding: rem(70) rem(20) rem(60) 0;
    &.bg-line-bottom {
      &::after {
        display: none;
      }
    }
    @include tablet {
      padding: rem(50) 0;
      &.bg-line-bottom {
        &::after {
          display: block;
        }
      }
    }
    @include small-tablet {
      padding: rem(30) 0;
    }
    &:nth-child(odd) {
      border-right: rem(1) solid var(--light-line-color);
      @include tablet {
        border-right: 0;
      }
    }
    &:nth-child(even) {
      padding-left: rem(43);
      @include tablet {
        padding-left: 0;
      }
    }
    //&:last-child {
    //  &.bg-line-bottom {
    //    &:after {
    //      transform: translateX(-100%);
    //    }
    //  }
    //}
  }
  // .benefits__emoji
  &__emoji {
    margin-right: rem(25);
    @include tablet {
      margin-right: rem(20);
    }
  }
  // .benefits__content
  &__content {
    max-width: rem(380);
  }

  // .benefits__caption
  &__caption {
  }
  // .benefits__text
  &__text {
  }
}
