.hero {
  background: var(--dark-bg-color);
  // .hero__container
  &__container {
    position: relative;
  }
  &__wrapper {
    padding-top: rem(90);
    border-left: 1px solid var(--dark-line-color);
    border-right: 1px solid var(--dark-line-color);
  }

  // .hero__subject
  &__title {
    padding: rem(60) 0 rem(60);
    min-height: rem(446);
    //margin-bottom: rem(16);
  }
  // .hero__content
  &__content {
    padding: rem(36) 0 rem(60);
    min-height: rem(276);
  }
  &__card {
    position: absolute;
    top: rem(258);
    right: 0;
  }
  // .hero__text
  &__text {
    margin: 0;
    font-size: rem(16);
    line-height: 130%;
    color: var(--light-text-color);
    max-width: rem(420);
    &:not(:last-child) {
      margin-bottom: rem(29);
    }
  }
  // .hero__link
  &__link {
    &:not(:last-child) {
      margin-bottom: rem(29);
    }
  }
  // .hero__bottom
  &__bottom {
    padding: rem(30) 0 rem(40);
    min-height: rem(210);
    display: flex;
    align-items: center;
    &::before {
      @include pseudo;
      position: absolute;
      top: 0;
      left: 50%;
      width: rem(1);
      height: 100%;
      border-left: 1px solid var(--dark-line-color);
      pointer-events: none;
    }
  }
  // .hero__desc
  &__desc {
    margin: 0;
    font-size: rem(16);
    line-height: 130%;
    color: var(--light-line-color);
    max-width: rem(393);
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }
  // .hero__swiper
  &__swiper {
    margin: 0 rem(-40);
    padding: rem(80) 0 rem(146);
    .swiper-pagination {
      bottom: rem(80);
    }
    .swiper-slide {
      margin: auto;
    }
  }
  // .hero__logo
  &__logo {
    width: 100%;
    padding: 0 rem(35);
  }

  .bg-line {
    &-top,
    &-bottom {
      &::after {
        border-bottom: rem(1) solid var(--dark-line-color);
      }
    }
  }
}


