<section id="faq" class="faq">
    <div class="faq__container container">
        <div class="faq__heading heading">
            <h2 class="faq__title title">Часто задаваемые вопросы</h2>
        </div>
        <div class="faq__accordion accordion">
            <div class="accordion__item">
                <h3 class="accordion__header">
                    <button type="button" class="accordion__trigger">
                        <span class="accordion__title">От чего зависит стоимость тарифа?</span>
                    </button>
                </h3>
                <div class="accordion__panel">
                    <p class="accordion__text">В рамках спецификации современных стандартов, действия представителей оппозиции ограничены исключительно образом мышления. Равным образом, убеждённость некоторых оппонентов является качественно новой ступенью экономической целесообразности принимаемых решений.</p>
                </div>
            </div>
            <div class="accordion__item">
                <h3 class="accordion__header">
                    <button type="button" class="accordion__trigger">
                        <span class="accordion__title">Входит ли техническая настройка SEGMEL в период оплаты труда?</span>
                    </button>
                </h3>
                <div class="accordion__panel">
                    <p class="accordion__text">В рамках спецификации современных стандартов, действия представителей оппозиции ограничены исключительно образом мышления. Равным образом, убеждённость некоторых оппонентов является качественно новой ступенью экономической целесообразности принимаемых решений.</p>
                </div>
            </div>
            <div class="accordion__item">
                <h3 class="accordion__header">
                    <button type="button" class="accordion__trigger">
                        <span class="accordion__title">От чего зависит стоимость тарифа?</span>
                    </button>
                </h3>
                <div class="accordion__panel">
                    <p class="accordion__text">В рамках спецификации современных стандартов, действия представителей оппозиции ограничены исключительно образом мышления. Равным образом, убеждённость некоторых оппонентов является качественно новой ступенью экономической целесообразности принимаемых решений.</p>
                </div>
            </div>
        </div>
    </div>
</section>