<section id="tariffs" class="tariffs">
    <div class="tariffs__container container">
        <div class="tariffs__heading heading">
            <h1 class="tariffs__title title">Тарифные планы и пакеты</h1>
        </div>
        <div class="tariffs__body tariffs__grid grid">
            <ul class="tariffs__list grid__cell list-reset">
                <li class="tariffs__item tariff">
                    <div class="tariff__wrapper">
                        <div class="tariff__emoji emoji">👍🏻</div>
                        <div class="tariff__content">
                            <h2 class="tariff__title">Стандартный</h2>
                            <p class="tariff__subtitle">35 000 ₽ месяц</p>
                            <ul class="tariff__list list-reset">
                                <li class="tariff__item">до 100 000 уникальных пользователей на сайте в месяц</li>
                                <li class="tariff__item">Предиктив базовых конверсий</li>
                                <li class="tariff__item">Интеграция с рекламными площадками</li>
                                <li class="tariff__item">Модуль CRM</li>
                                <li class="tariff__item">Базовый онбординг</li>
                                <li class="tariff__item">Базовая поддержка</li>
                            </ul>
                            <button class="tariff__button button" data-graph-path="entry-modal">Записаться на демо</button>
                        </div>
                    </div>
                </li>
                <li class="tariffs__item tariff">
                    <div class="tariff__wrapper">
                        <div class="tariff__emoji emoji">💼</div>
                        <div class="tariff__content">
                            <h2 class="tariff__title">Бизнес</h2>
                            <p class="tariff__subtitle">87 000 ₽ месяц</p>
                            <ul class="tariff__list list-reset">
                                <li class="tariff__item">от 100 000 уникальных пользователей на сайте в месяц</li>
                                <li class="tariff__item">Все из тарифа «Стандарт»</li>
                                <li class="tariff__item">+ Предиктив продвинутых конверсий</li>
                                <li class="tariff__item">+ Модуль сайт</li>
                            </ul>
                            <button class="tariff__button button" data-graph-path="entry-modal">Записаться на демо</button>
                        </div>
                    </div>
                </li>
                <li class="tariffs__item tariff">
                    <div class="tariff__wrapper">
                        <div class="tariff__emoji emoji">🔥</div>
                        <div class="tariff__content">
                            <h2 class="tariff__title">Расширенный</h2>
                            <p class="tariff__subtitle">100 000 ₽ месяц</p>
                            <ul class="tariff__list list-reset">
                                <li class="tariff__item">от 500 000 уникальных пользователей на сайте в месяц</li>
                                <li class="tariff__item">Все из тарифа «Бизнес»</li>
                                <li class="tariff__item">+ Скоринг churn rate</li>
                                <li class="tariff__item">+ Предиктивная атрибуция</li>
                            </ul>
                            <button class="tariff__button button" data-graph-path="entry-modal">Записаться на демо</button>
                        </div>
                    </div>
                </li>
                <li class="tariffs__item tariff">
                    <div class="tariff__wrapper">
                        <div class="tariff__emoji emoji">⚡</div>
                        <div class="tariff__content">
                            <h2 class="tariff__title">Продвинутый</h2>
                            <p class="tariff__subtitle">150 000 ₽ месяц</p>
                            <ul class="tariff__list list-reset">
                                <li class="tariff__item">от 1 000 000 уникальных пользователей на сайте в месяц</li>
                                <li class="tariff__item">Все из тарифа «Расширенный»</li>
                                <li class="tariff__item">+ Скоринг событий в mobile app</li>
                            </ul>
                            <button class="tariff__button button" data-graph-path="entry-modal">Записаться на демо</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>