/* stylelint-disable */

@mixin burger {
  --burger-width: 83px;
  --burger-height: 31px;
  --burger-line-height: 5px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--light-line-color);
  background: transparent;
  cursor: pointer;
  @media (any-hover: hover) {
    &:hover:not(.burger--active) {
      //color: var(--accent-text-color);
      &::before,
      &::after {
        transform: translateX(calc(-50%));
      }
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background: currentColor;
    transform: translateX(calc(-50% + rem(-10)));
    transition: all 0.3s ease-in-out;
    @include small-tablet {
      //transform: translateX(rem(-7));
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background: currentColor;
    transform: scale(1) translateY(-50%);
    transition: all 0.3s ease-in-out;
  }

  &--active {
    &::before, &::after {
      width: rem(17);
      height: rem(1.5);
      top: 50%;
      left: calc(50% - rem(10));
      color: var(--accent-text-color);
      //transition: none;
      @include small-tablet {
        left: calc(50% - rem(7));
      }
    }
    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    .burger__line {
      transform: scale(0) translateY(-50%);
      color: var(--accent-text-color);
      transition: all 0.3s ease-in-out;
    }
  }
  @include small-tablet {
    --burger-width: 62px;
    --burger-height: 23px;
    --burger-line-height: 4px;
  }
}
