<section id="blogs" class="blogs">
    <div class="blogs__container container">
        <div class="blogs__heading heading">
            <h1 class="blogs__title title">Блог</h1>
        </div>
        <div class="blogs__body">
            <ul class="blogs__list list-reset">
                <li class="blogs__item">
                    <article class="blogs__card card-blogs">
                        <time datetime="2023-12-28" class="card-blogs__time">28.12.2023</time>
                        <h2 class="card-blogs__title">Реклама в Telegram каналах в Яндекс
                            Директ стала доступна для всех. Делюсь мнением и опытом</h2>
                        <p class="card-blogs__text">
                            Уже несколько месяцев я активно использую рекламу в телеграм каналах. В статье подвожу итог и краткий обзор инструмента
                        </p>
                        <div class="card-blogs__thumbnail">
                            <picture>
                                <source srcset="./img/thumbnail-image-01.webp" type="image/webp">
                                <img class="card-blogs__image img" loading="lazy" src="./img/thumbnail-image-01.jpg" width="325" height="229" alt="Миниатюра статьи">
                            </picture>
                        </div>
                        <a href="/article.html" class="card-blogs__link link">
                            Читать статью
                            <svg class="arrow-circle-light" width="35" height="35">
                                <use xlink:href="img/sprite.svg#arrow-circle-light"></use>
                            </svg>
                        </a>
                    </article>
                </li>
                <li class="blogs__item">
                    <article class="blogs__card card-blogs">
                        <time datetime="2023-12-28" class="card-blogs__time">28.12.2023</time>
                        <h2 class="card-blogs__title">Как построить SMM-стратегию: пошаговый план продвижения в социальных сетях</h2>
                        <p class="card-blogs__text">
                            Начать компаниям в соцсетях нужно с малого — хотя бы не слить бюджет в трубу и наладить производство контента
                        </p>
                        <div class="card-blogs__thumbnail">
                            <picture>
                                <source srcset="./img/thumbnail-image-02.webp" type="image/webp">
                                <img class="card-blogs__image img" loading="lazy" src="./img/thumbnail-image-02.jpg" width="325" height="229" alt="Миниатюра статьи">
                            </picture>
                        </div>
                        <a href="/article.html" class="card-blogs__link link">
                            Читать статью
                            <svg class="arrow-circle-light" width="35" height="35">
                                <use xlink:href="img/sprite.svg#arrow-circle-light"></use>
                            </svg>
                        </a>
                    </article>
                </li>
                <li class="blogs__item">
                    <article class="blogs__card card-blogs">
                        <time datetime="2023-12-28" class="card-blogs__time">28.12.2023</time>
                        <h2 class="card-blogs__title">Реклама в Telegram каналах в Яндекс
                            Директ стала доступна для всех. Делюсь мнением и опытом</h2>
                        <p class="card-blogs__text">
                            Уже несколько месяцев я активно использую рекламу в телеграм каналах. В статье подвожу итог и краткий обзор инструмента
                        </p>
                        <div class="card-blogs__thumbnail">
                            <picture>
                                <source srcset="./img/thumbnail-image-03.webp" type="image/webp">
                                <img class="card-blogs__image img" loading="lazy" src="./img/thumbnail-image-03.jpg" width="325" height="229" alt="Миниатюра статьи">
                            </picture>
                        </div>
                        <a href="/article.html" class="card-blogs__link link">
                            Читать статью
                            <svg class="arrow-circle-light" width="35" height="35">
                                <use xlink:href="img/sprite.svg#arrow-circle-light"></use>
                            </svg>
                        </a>
                    </article>
                </li>
                <li class="blogs__item">
                    <article class="blogs__card card-blogs">
                        <time datetime="2023-12-28" class="card-blogs__time">28.12.2023</time>
                        <h2 class="card-blogs__title">Реклама в Telegram каналах в Яндекс
                            Директ стала доступна для всех. Делюсь мнением и опытом</h2>
                        <p class="card-blogs__text">
                            Уже несколько месяцев я активно использую рекламу в телеграм каналах. В статье подвожу итог и краткий обзор инструмента
                        </p>
                        <div class="card-blogs__thumbnail">
                            <picture>
                                <source srcset="./img/thumbnail-image-01.webp" type="image/webp">
                                <img class="card-blogs__image img" loading="lazy" src="./img/thumbnail-image-01.jpg" width="325" height="229" alt="Миниатюра статьи">
                            </picture>
                        </div>
                        <a href="/article.html" class="card-blogs__link link">
                            Читать статью
                            <svg class="arrow-circle-light" width="35" height="35">
                                <use xlink:href="img/sprite.svg#arrow-circle-light"></use>
                            </svg>
                        </a>
                    </article>
                </li>
                <li class="blogs__item">
                    <article class="blogs__card card-blogs">
                        <time datetime="2023-12-28" class="card-blogs__time">28.12.2023</time>
                        <h2 class="card-blogs__title">Как построить SMM-стратегию: пошаговый план продвижения в социальных сетях</h2>
                        <p class="card-blogs__text">
                            Начать компаниям в соцсетях нужно с малого — хотя бы не слить бюджет в трубу и наладить производство контента
                        </p>
                        <div class="card-blogs__thumbnail">
                            <picture>
                                <source srcset="./img/thumbnail-image-02.webp" type="image/webp">
                                <img class="card-blogs__image img" loading="lazy" src="./img/thumbnail-image-02.jpg" width="325" height="229" alt="Миниатюра статьи">
                            </picture>
                        </div>
                        <a href="/article.html" class="card-blogs__link link">
                            Читать статью
                            <svg class="arrow-circle-light" width="35" height="35">
                                <use xlink:href="img/sprite.svg#arrow-circle-light"></use>
                            </svg>
                        </a>
                    </article>
                </li>
                <li class="blogs__item">
                    <article class="blogs__card card-blogs">
                        <time datetime="2023-12-28" class="card-blogs__time">28.12.2023</time>
                        <h2 class="card-blogs__title">Реклама в Telegram каналах в Яндекс
                            Директ стала доступна для всех. Делюсь мнением и опытом</h2>
                        <p class="card-blogs__text">
                            Уже несколько месяцев я активно использую рекламу в телеграм каналах. В статье подвожу итог и краткий обзор инструмента
                        </p>
                        <div class="card-blogs__thumbnail">
                            <picture>
                                <source srcset="./img/thumbnail-image-03.webp" type="image/webp">
                                <img class="card-blogs__image img" loading="lazy" src="./img/thumbnail-image-03.jpg" width="325" height="229" alt="Миниатюра статьи">
                            </picture>
                        </div>
                        <a href="/article.html" class="card-blogs__link link">
                            Читать статью
                            <svg class="arrow-circle-light" width="35" height="35">
                                <use xlink:href="img/sprite.svg#arrow-circle-light"></use>
                            </svg>
                        </a>
                    </article>
                </li>
                <li class="blogs__item">
                    <article class="blogs__card card-blogs">
                        <time datetime="2023-12-28" class="card-blogs__time">28.12.2023</time>
                        <h2 class="card-blogs__title">Реклама в Telegram каналах в Яндекс
                            Директ стала доступна для всех. Делюсь мнением и опытом</h2>
                        <p class="card-blogs__text">
                            Уже несколько месяцев я активно использую рекламу в телеграм каналах. В статье подвожу итог и краткий обзор инструмента
                        </p>
                        <div class="card-blogs__thumbnail">
                            <picture>
                                <source srcset="./img/thumbnail-image-01.webp" type="image/webp">
                                <img class="card-blogs__image img" loading="lazy" src="./img/thumbnail-image-01.jpg" width="325" height="229" alt="Миниатюра статьи">
                            </picture>
                        </div>
                        <a href="/article.html" class="card-blogs__link link">
                            Читать статью
                            <svg class="arrow-circle-light" width="35" height="35">
                                <use xlink:href="img/sprite.svg#arrow-circle-light"></use>
                            </svg>
                        </a>
                    </article>
                </li>
                <li class="blogs__item">
                    <article class="blogs__card card-blogs">
                        <time datetime="2023-12-28" class="card-blogs__time">28.12.2023</time>
                        <h2 class="card-blogs__title">Как построить SMM-стратегию: пошаговый план продвижения в социальных сетях</h2>
                        <p class="card-blogs__text">
                            Начать компаниям в соцсетях нужно с малого — хотя бы не слить бюджет в трубу и наладить производство контента
                        </p>
                        <div class="card-blogs__thumbnail">
                            <picture>
                                <source srcset="./img/thumbnail-image-02.webp" type="image/webp">
                                <img class="card-blogs__image img" loading="lazy" src="./img/thumbnail-image-02.jpg" width="325" height="229" alt="Миниатюра статьи">
                            </picture>
                        </div>
                        <a href="/article.html" class="card-blogs__link link">
                            Читать статью
                            <svg class="arrow-circle-light" width="35" height="35">
                                <use xlink:href="img/sprite.svg#arrow-circle-light"></use>
                            </svg>
                        </a>
                    </article>
                </li>
                <li class="blogs__item">
                    <article class="blogs__card card-blogs">
                        <time datetime="2023-12-28" class="card-blogs__time">28.12.2023</time>
                        <h2 class="card-blogs__title">Реклама в Telegram каналах в Яндекс
                            Директ стала доступна для всех. Делюсь мнением и опытом</h2>
                        <p class="card-blogs__text">
                            Уже несколько месяцев я активно использую рекламу в телеграм каналах. В статье подвожу итог и краткий обзор инструмента
                        </p>
                        <div class="card-blogs__thumbnail">
                            <picture>
                                <source srcset="./img/thumbnail-image-03.webp" type="image/webp">
                                <img class="card-blogs__image img" loading="lazy" src="./img/thumbnail-image-03.jpg" width="325" height="229" alt="Миниатюра статьи">
                            </picture>
                        </div>
                        <a href="/article.html" class="card-blogs__link link">
                            Читать статью
                            <svg class="arrow-circle-light" width="35" height="35">
                                <use xlink:href="img/sprite.svg#arrow-circle-light"></use>
                            </svg>
                        </a>
                    </article>
                </li>
                <li class="blogs__item">
                    <article class="blogs__card card-blogs">
                        <time datetime="2023-12-28" class="card-blogs__time">28.12.2023</time>
                        <h2 class="card-blogs__title">Реклама в Telegram каналах в Яндекс
                            Директ стала доступна для всех. Делюсь мнением и опытом</h2>
                        <p class="card-blogs__text">
                            Уже несколько месяцев я активно использую рекламу в телеграм каналах. В статье подвожу итог и краткий обзор инструмента
                        </p>
                        <div class="card-blogs__thumbnail">
                            <picture>
                                <source srcset="./img/thumbnail-image-01.webp" type="image/webp">
                                <img class="card-blogs__image img" loading="lazy" src="./img/thumbnail-image-01.jpg" width="325" height="229" alt="Миниатюра статьи">
                            </picture>
                        </div>
                        <a href="/article.html" class="card-blogs__link link">
                            Читать статью
                            <svg class="arrow-circle-light" width="35" height="35">
                                <use xlink:href="img/sprite.svg#arrow-circle-light"></use>
                            </svg>
                        </a>
                    </article>
                </li>
                <li class="blogs__item">
                    <article class="blogs__card card-blogs">
                        <time datetime="2023-12-28" class="card-blogs__time">28.12.2023</time>
                        <h2 class="card-blogs__title">Как построить SMM-стратегию: пошаговый план продвижения в социальных сетях</h2>
                        <p class="card-blogs__text">
                            Начать компаниям в соцсетях нужно с малого — хотя бы не слить бюджет в трубу и наладить производство контента
                        </p>
                        <div class="card-blogs__thumbnail">
                            <picture>
                                <source srcset="./img/thumbnail-image-02.webp" type="image/webp">
                                <img class="card-blogs__image img" loading="lazy" src="./img/thumbnail-image-02.jpg" width="325" height="229" alt="Миниатюра статьи">
                            </picture>
                        </div>
                        <a href="/article.html" class="card-blogs__link link">
                            Читать статью
                            <svg class="arrow-circle-light" width="35" height="35">
                                <use xlink:href="img/sprite.svg#arrow-circle-light"></use>
                            </svg>
                        </a>
                    </article>
                </li>
                <li class="blogs__item">
                    <article class="blogs__card card-blogs">
                        <time datetime="2023-12-28" class="card-blogs__time">28.12.2023</time>
                        <h2 class="card-blogs__title">Реклама в Telegram каналах в Яндекс
                            Директ стала доступна для всех. Делюсь мнением и опытом</h2>
                        <p class="card-blogs__text">
                            Уже несколько месяцев я активно использую рекламу в телеграм каналах. В статье подвожу итог и краткий обзор инструмента
                        </p>
                        <div class="card-blogs__thumbnail">
                            <picture>
                                <source srcset="./img/thumbnail-image-03.webp" type="image/webp">
                                <img class="card-blogs__image img" loading="lazy" src="./img/thumbnail-image-03.jpg" width="325" height="229" alt="Миниатюра статьи">
                            </picture>
                        </div>
                        <a href="/article.html" class="card-blogs__link link">
                            Читать статью
                            <svg class="arrow-circle-light" width="35" height="35">
                                <use xlink:href="img/sprite.svg#arrow-circle-light"></use>
                            </svg>
                        </a>
                    </article>
                </li>
            </ul>
            <button type="button" class="blogs__button button">Загрузить ещё</button>
        </div>
    </div>
</section>