<section id="contacts" class="contacts">
    <div class="contacts__container container">
        <div class="contacts__heading heading">
            <h1 class="contacts__title title">Контакты</h1>
        </div>
        <div class="contacts__body contacts__grid grid">
            <ul class="contacts__list grid__cell list-reset">
                <li class="contacts__item">
                    <div class="contacts__emoji emoji">📞</div>
                    <div class="contacts__field">
                        <p class="contacts__text">Телефон</p>
                        <a href="tel:+7(977)9942958" target="_blank" class="contacts__link">+7 (977) 994-29-58</a>
                    </div>
                </li>
                <li class="contacts__item">
                    <div class="contacts__emoji emoji">✉️</div>
                    <div class="contacts__field">
                        <p class="contacts__text">Почта</p>
                        <a href="tel:mailto:team@segmel.com" target="_blank" class="contacts__link">team@segmel.com</a>
                    </div>
                </li>
                <li class="contacts__item">
                    <div class="contacts__emoji emoji">🏢</div>
                    <div class="contacts__field">
                        <p class="contacts__text">Адрес</p>
                        <a href="https://yandex.ru/maps/-/CDsEr09b" target="_blank" class="contacts__link">г. Москва,<br>
                            Таганская ул., д.24, стр.1</a>
                    </div>
                </li>
            </ul>
            <div id="map" class="contacts__map map">
                <svg class="map__marker favicon" width="30" height="30">
                    <use xlink:href="img/sprite.svg#favicon"></use>
                </svg>
            </div>
        </div>
    </div>
</section>