<section id="benefits" class="benefits">
    <div class="benefits__container container">
        <div class="benefits__heading heading">
            <p class="benefits__subtitle subtitle">Приносим клиентам</p>
            <h2 class="benefits__title title">
                <span class="title__accent">+27% к выручке</span>
            </h2>
            <p class="benefits__subtitle subtitle">За счет оптимизации рекламных кампаний </p>
        </div>
        <ul class="benefits__services list-reset bg-line-top">
            <li class="benefits__name text">
                Яндекс Директ
            </li>
            <li class="benefits__name text">
                Промо страниц
            </li>
            <li class="benefits__name text">
                Vkontakte
            </li>
            <li class="benefits__name text">
                Telegram
            </li>
        </ul>
        <ul class="benefits__list list-reset bg-line-top">
            <li class="benefits__item bg-line-bottom">
                <div class="benefits__emoji emoji">🚀</div>
                <div class="benefits__content">
                    <h3 class="benefits__title title">Повысим конверсию ретаргетинговых кампаний</h3>
                    <p class="benefits__text text">Рост продаж на +27% или сокращение неэффективных расходов на рекламу
                        -47%. Segmel позволит вам достигать
                        роста продаж при одновременной
                        экономии на рекламных расходах</p>
                </div>
            </li>
            <li class="benefits__item">
                <div class="benefits__emoji emoji">👍🏻</div>
                <div class="benefits__content">
                    <h3 class="benefits__title title">Сквозная аналитика и отчетность без лишних хлопот</h3>
                    <p class="benefits__text text">Стройте быстрые, гибкие и удобные отчёты. Оптимизируйте CPL, CPO и тестируйте гипотезы роста с первых дней работы с сервисом</p>
                </div>
            </li>
        </ul>
        <ul class="benefits__list list-reset bg-line-top bg-line-bottom">
            <li class="benefits__item bg-line-bottom">
                <div class="benefits__emoji emoji">🎲</div>
                <div class="benefits__content">
                    <h3 class="benefits__title title">Бесшовная <br>интеграция <br>без кода</h3>
                    <p class="benefits__text text">Подключите SEGMEL к существующему технологическому стеку. Никакого кода, никаких хлопот, только мощная аналитика продвижения, основанная на искусственном интеллекте, под рукой</p>
                </div>
            </li>
            <li class="benefits__item">
                <div class="benefits__emoji emoji">🏪</div>
                <div class="benefits__content">
                    <h3 class="benefits__title title">Поддержка <br>команды <br>24/7</h3>
                    <p class="benefits__text text">Не оставим один на один с платформой — помогаем от определения метрик успеха на этапе заявки до обучения маркетологов, которые работают руками</p>
                </div>
            </li>
        </ul>
    </div>
</section>