<div id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumbs__container container">
        <ul class="breadcrumbs__list list-reset">
            <li class="breadcrumbs__item">
                <a href="/blog" class="breadcrumbs__link">
                    <svg class="breadcrumbs__arrow" width="25" height="8">
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                    Назад
                </a>
            </li>
        </ul>
    </div>
</div>