<section id="feedback" class="feedback">
    <div class="feedback__container container">
        <div class="feedback__wrapper container__slim bg-line-bottom bg-line-top">
            <div class="feedback__heading heading">
                <h2 class="feedback__title title">
                    Посчитаем <span class="title__gradient">ROMI</span>
                </h2>
                <p class="feedback__subtitle subtitle">от использования Segmel в вашем маркетинге</p>
            </div>
            <form action="#" class="feedback__form form">
                <div class="form__body">
                    <label class="form__label">
                        <input type="text" name="Имя" class="form__input input" placeholder="Имя">
                    </label>
                    <label class="form__label">
                        <input type="tel" name="Телефон" class="form__input input" placeholder="Телефон">
                    </label>
                    <label class="form__label checkbox">
                        <input type="checkbox" name="Согласие" class="checkbox__input" checked>
                        <span class="checkbox__content">Cогласен с политикой обработки персональных данных</span>
                    </label>
                </div>
                <button class="form__button button">Хочу расчет</button>
            </form>
        </div>
    </div>
</section>