<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
  <link rel="manifest" href="./site.webmanifest">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <meta name="description" content="Благодаря основанному на искусственном интеллекте подсчету посетителей сайта и входящих лидов, который поможет вам масштабировать и оптимизировать вашу воронку">
  <!-- Open Graph Generated: a.pr-cy.ru -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Повышайте качество рекламных кампаний и снижайте CAC">
  <meta property="og:description" content="Благодаря основанному на искусственном интеллекте подсчету посетителей сайта и входящих лидов, который поможет вам масштабировать и оптимизировать вашу воронку">
  <meta property="og:url" content="/">
  <meta property="og:image" content="/img/chart.png">
  <meta property="og:site_name" content="Segmel">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:image:src" content="/img/chart.png">
  <title>Segmel</title>
  <link rel="preload" href="./fonts/onest-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/onest-semibold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/onest-bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="./css/vendor.css">
  <link rel="stylesheet" href="./css/main.css">
  <script defer src="@getApiMap"></script>
  <script defer src="./js/main.js"></script>
</head>
