<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
  <link rel="manifest" href="./site.webmanifest">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <meta name="description" content="Благодаря основанному на искусственном интеллекте подсчету посетителей сайта и входящих лидов, который поможет вам масштабировать и оптимизировать вашу воронку">
  <title>Segmel</title>
  <link rel="preload" href="./fonts/onest-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/onest-semibold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="./fonts/onest-bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="./css/vendor.css">
  <link rel="stylesheet" href="./css/main.css">
  <script defer src="https://api-maps.yandex.ru/v3/?apikey=969ea204-aced-4b4c-8479-1b4baa09f9db&lang=ru_RU"></script>
  <script defer src="./js/main.js"></script>
</head>
