<section class="offers">
    <div class="offers__container container">
        <div class="offers__heading heading">
            <h2 class="offers__title title">
                <span class="title__accent">Создавайте стимулы,</span> работающие
                на основе искусственного интеллекта, которые приносят прибыль
            </h2>
            <p class="offers__subtitle subtitle">Продуманные рекламные акции, обеспечивающие дополнительную прибыль
                без ущерба для бренда и маржи, позволили увеличить валовую прибыль на 35 %</p>
        </div>
        <div class="offers__body">
            <ul class="offers__list list-reset">
                <li class="offers__item">
                    <h3 class="offers__title title">Привлекательные
                        и конверсионные предложения на сайте</h3>
                    <p class="offers__text text">Оптимизируйте предложения на сайте и создайте правильные стимулы для посетителей, чтобы они подписались на рассылку или совершили покупку</p>
                </li>
                <li class="offers__item">
                    <h3 class="offers__title title">Динамические предложения
                        в CRM&#8209;каналах</h3>
                    <p class="offers__text text">Отправляйте персонализированные предложения по электронной почте или SMS, предлагая оптимальный офер, чтобы заставить клиента совершить покупку</p>
                </li>
                <li class="offers__item">
                    <h3 class="offers__title title">Вся аналитика офферов под вашей рукой</h3>
                    <p class="offers__text text">Используя нашу платформу, вы и ваши команды могут легко изменять стратегии скидок, удалять офферы, тестировать новые виды поощрений и получать информацию о рентабельности инвестиций и эффективности промоакций — и все это одним нажатием кнопки и без использования кода</p>
                </li>
            </ul>
            <img class="offers__image" src="./img/reports.svg" alt="Предложения" width="882" height="623">
        </div>
    </div>
</section>