<section id="steps" class="steps">
    <div class="steps__container container">
        <div class="steps__heading heading">
            <h2 class="steps__title title">
                Как это работает
            </h2>
        </div>
        <div class="steps__row bg-line-top">
            <div class="steps__col bg-line-center">
                <div class="steps__step tag">Шаг 1</div>
                <ul class="steps__list list-reset">
                    <li class="steps__item">
                        <div class="steps__emoji emoji">👤</div>
                        <div class="steps__content">
                            <h3 class="steps__title title">Поведенческие данные</h3>
                            <p class="steps__text text">В 10 раз больше, чем в Google Analytics и Яндекс.Метрика</p>
                        </div>
                    </li>
                    <li class="steps__item">
                        <div class="steps__emoji emoji">🤑</div>
                        <div class="steps__content">
                            <h3 class="steps__title title">Данные CRM</h3>
                            <p class="steps__text text">Этапы воронки, выручка</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="steps__col">
                <div class="steps__clients">
                    <div class="steps__person">
                        <picture>
                            <source srcset="./img/avatar-01.webp" type="image/webp">
                            <img class="steps__avatar img" loading="lazy" src="./img/avatar-01.png" width="130" height="130" alt="Клиент">
                        </picture>
                        <div class="steps__tag tag tag--accent rellax" data-rellax-speed="0.7">Покупок: <span class="tag__accent">5</span></div>
                    </div>
                    <div class="steps__person">
                        <picture>
                            <source srcset="./img/avatar-02.webp" type="image/webp">
                            <img class="steps__avatar img" loading="lazy" src="./img/avatar-02.png" width="130" height="130" alt="Клиент">
                        </picture>
                        <div class="steps__tag tag tag--accent rellax" data-rellax-speed="-0.7">Возврат: <span class="tag__accent">2</span></div>
                    </div>
                    <div class="steps__person">
                        <picture>
                            <source srcset="./img/avatar-03.webp" type="image/webp">
                            <img class="steps__avatar img" loading="lazy" src="./img/avatar-03.png" width="130" height="130" alt="Клиент">
                        </picture>
                        <div class="steps__tag tag tag--accent rellax" data-rellax-speed=".7">LTV: <span class="tag__accent">500₽</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="steps__row bg-line-top">
            <div class="steps__col bg-line-center">
                <div class="steps__step tag">Шаг 2</div>
                <ul class="steps__list list-reset">
                    <li class="steps__item">
                        <div class="steps__emoji emoji">📊</div>
                        <div class="steps__content">
                            <h3 class="steps__title title">Предективная аналитика</h3>
                            <p class="steps__text text">Segmel в режиме реального времени рассчитывает</p>
                        </div>
                    </li>
                    <li class="steps__item">
                        <div class="steps__tags">
                            <div class="steps__tag tag">Вероятность покупки</div>
                            <div class="steps__tag tag">Ожидаемый LTV для каждого посетителя сайта</div>
                            <div class="steps__tag tag">Вероятность возврата в продукт</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="steps__col">
                <svg class="steps__favicon favicon" width="30" height="30">
                    <use xlink:href="img/sprite.svg#favicon"></use>
                </svg>
                <div class="steps__icons">
                    <div class="steps__icon icon rellax" data-rellax-speed="-0.7">
                        <svg width="26" height="26">
                            <use xlink:href="img/sprite.svg#vkontakte"></use>
                        </svg>
                    </div>
                    <div class="steps__icon icon rellax" data-rellax-speed="0.7">
                        <svg width="26" height="26">
                            <use xlink:href="img/sprite.svg#telegram"></use>
                        </svg>
                    </div>
                    <div class="steps__icon icon rellax" data-rellax-speed="-0.7">
                        <svg width="26" height="26">
                            <use xlink:href="img/sprite.svg#yandex"></use>
                        </svg>
                    </div>
                    <div class="steps__icon icon rellax" data-rellax-speed="0.7">
                        <svg width="26" height="26">
                            <use xlink:href="img/sprite.svg#site"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="steps__row bg-line-top">
            <div class="steps__col bg-line-center">
                <div class="steps__step tag">Шаг 3</div>
                <ul class="steps__list list-reset">
                    <li class="steps__item">
                        <div class="steps__emoji emoji">📈</div>
                        <div class="steps__content">
                            <h3 class="steps__title title">Рекламные кампании</h3>
                            <p class="steps__text text">Оптимизация рекламных кампаний</p>
                        </div>
                    </li>
                    <li class="steps__item">
                        <div class="steps__emoji emoji">📉</div>
                        <div class="steps__content">
                            <h3 class="steps__title title">CRM-маркетинг</h3>
                            <p class="steps__text text">Умные триггерные рассылки</p>
                        </div>
                    </li>
                    <li class="steps__item">
                        <div class="steps__emoji emoji">💹</div>
                        <div class="steps__content">
                            <h3 class="steps__title title">Персонализация на сайте</h3>
                            <p class="steps__text text">Персональные акции и офферы</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="steps__col">
                <div class="steps__card card card--accent">
                    <svg class="card__favicon favicon" width="30" height="30">
                        <use xlink:href="img/sprite.svg#favicon"></use>
                    </svg>
                    <ul class="card__list list-reset">
                        <li class="card__item">
                            <p class="card__text card__text--accent">Инкрементальная прибыль</p>
                            <p class="card__text card__text--accent">+20%<span>↑</span></p>
                        </li>
                        <li class="card__item">
                            <p class="card__text">Инкрементальная выручка</p>
                            <p class="card__text">+18%↑</p>
                        </li>
                        <li class="card__item">
                            <p class="card__text">CPA</p>
                            <p class="card__text">-20%</p>
                        </li>
                    </ul>
                    <div class="card__tags">
                        <div class="card__tag tag rellax" data-rellax-speed="-0.7">LTV: <span class="tag__accent">+10%</span></div>
                        <div class="card__tag tag rellax" data-rellax-speed="0.7">Возврат: <span class="tag__accent">+5%</span></div>
                        <div class="card__tag tag rellax" data-rellax-speed="-0.7">Продажи: <span class="tag__accent">+25%</span></div>
                        <div class="card__tag tag rellax" data-rellax-speed="0.7">Конверсия: <span class="tag__accent">+15%</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>