<section id="works" class="works">
    <div class="works__container container">
        <div class="works__heading heading">
            <h2 class="works__title title">
                Внедряем segmel <span class="title__accent">под ключ</span>
                <span class="title__accent">Показываем результат</span> в деньгах
            </h2>
        </div>
        <div class="works__grid bg-line-bottom bg-line-center">
            <div class="works__col">
                <div class="works__card card" data-aos="fade-in">
                    <svg class="card__favicon favicon" width="30" height="30">
                        <use xlink:href="img/sprite.svg#favicon"></use>
                    </svg>
                    <ul class="card__list list-reset">
                        <li class="card__item">
                            <p class="card__text card__text--accent">Инкрементальная прибыль</p>
                            <p class="card__text card__text--pink">-10 000 ₽<span>↓</span></p>
                        </li>
                        <li class="card__item">
                            <p class="card__text">Инкрементальная выручка</p>
                            <p class="card__text">-8 000 ₽</p>
                        </li>
                        <li class="card__item">
                            <p class="card__text">CPA</p>
                            <p class="card__text">-8 000 ₽</p>
                        </li>
                    </ul>
                    <div class="works__icon icon">
                        <svg width="26" height="26">
                            <use xlink:href="img/sprite.svg#site"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="works__col">
                <div class="works__tag tag">2 недели</div>
                <h3 class="works__title title">Собираем сырые&nbsp;данные</h3>
                <p class="works__text text">Размещаем пиксель SEGMEL на сайте и размечаем исходные данные на сайте и собираем данные из CRM</p>
            </div>
            <div class="works__col">
                <div class="works__card card card--min" data-aos="fade-in">
                    <div class="card__emoji emoji">🛒</div>
                    <div class="card__content">
                        <p class="card__text">Добавлено товаров в корзину</p>
                        <p class="card__text">5</p>
                    </div>
                    <div class="works__icon icon">
                        <svg width="26" height="26">
                            <use xlink:href="img/sprite.svg#vkontakte"></use>
                        </svg>
                    </div>
                </div>
                <div class="works__card card card--min" data-aos="fade-in">
                    <div class="card__emoji emoji">💙</div>
                    <div class="card__content">
                        <p class="card__text">Добавлено товаров в избранное</p>
                        <p class="card__text">9</p>
                    </div>
                </div>
                <div class="works__card card card--min" data-aos="fade-in">
                    <div class="card__emoji emoji">👀</div>
                    <div class="card__content">
                        <p class="card__text">Просмотренно товаров</p>
                        <p class="card__text">25</p>
                    </div>
                    <div class="works__icon icon">
                        <svg width="26" height="26">
                            <use xlink:href="img/sprite.svg#yandex"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="works__col">
                <div class="works__tag tag">1 неделя</div>
                <h3 class="works__title title">Собираем признаки из визитов контента и обучаем модели</h3>
                <p class="works__text text">Количество просмотренных товаров, количество добавлений в избранное, количество добавленных за сессию товаров в  корзину </p>
            </div>
            <div class="works__col">
                <div class="works__card card card--large" data-aos="fade-in">
                    <div class="card__emoji emoji">🔥</div>
                    <div class="card__body">
                        <h4 class="card__title">Отчёт отправлен</h4>
                        <p class="card__text">Проанализировано компаний: 5</p>
                        <p class="card__text">Выявлено ошибок: <span class="card__text--pink">12</span></p>
                        <p class="card__text">Рекомендации: <span class="card__text--accent">7</span></p>
                    </div>
                    <div class="works__icon icon">
                        <svg width="26" height="26">
                            <use xlink:href="img/sprite.svg#telegram"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="works__col">
                <div class="works__tag tag">2 недели</div>
                <h3 class="works__title title">Запускаем <br>кампании</h3>
                <p class="works__text text">Контролируемые эксперименты для измерения дополнительного повышения производительности на разных платформах, каналах
                    и кампаниях</p>
            </div>
        </div>
    </div>
</section>