
// colors
:root {
  // base
  --font-family: "Onest", sans-serif;
  --content-width: calc(1170 / 16 * 1rem);
  --container-offset: calc(35 / 16 * 1rem);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --dark-bg-color: #1D1B1F;
  --light-bg-color: #E7ECF9;
  --accent-bg-color: #D9E1F8;
  --dark-text-color: #1A1A1A;
  --light-text-color: #F3F6FF;
  --accent-text-color: #335FFF;
  --accent-hover-color: #1547E1;
  --light-line-color: #8A859F;
  --accent-line-color: rgba(51, 95, 255, 0.3);
  //--card-color: #242128;


  --swiper-theme-color: var(--accent-text-color);
  --swiper-pagination-bullet-inactive-color: #c6cad6;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: calc(6 / 16 * 1rem);
  --swiper-pagination-bullet-horizontal-gap: calc(3 / 16 * 1rem);
  --swiper-navigation-size: calc(35 / 16 * 1rem);


  @include small-tablet {
    --container-offset: calc(15 / 16 * 1rem);
  }
}
